table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}
td,th{
    padding: 10px 20px;
}
.price{
    text-align:right;
}
.price::before{
content: "$";
}
.price::after{
    content: "NTD";

}
.money::after{
    content: "$$";
}